In [1]:
import sqlite3
import pandas as pd
import requests
import time
from bs4 import BeautifulSoup

# sqlitebrowser
# create diagram https://dbdiagram.io/d

# Create sql from csv

In [2]:
genstudio = pd.read_csv('./data/genstudio.csv', dtype={'Position':str})
metadata = pd.read_csv('./data/metadata.csv')

#print(genstudio.shape, metadata.shape)

In [3]:
def get_scheme_df(df):
    '''
    Create SQL scheme from DataFrame colnames.
    Return SQL scheme and list with processed colnames.
    '''
    col_names, types = df.columns, df.dtypes
    scheme_df = ['row_id INTEGER PRIMARY KEY']
    new_names = ['row_id']


    for name, contain in zip(col_names[1:], types[1:]):
        name = name.replace("-", "").replace("  ", " ").replace(" ", "_")
        new_names.append(name)

        if 'int' in str(contain):
            scheme_df.append(' '.join([name, 'INTEGER']))
        
        elif 'float' in str(contain):
            scheme_df.append(' '.join([name, 'REAL']))
        
        else:
            scheme_df.append(' '.join([name, 'TEXT']))
            
    scheme_df = ', '.join(scheme_df)

    return scheme_df, new_names

In [4]:
scheme_genstudio, new_names = get_scheme_df(genstudio)
genstudio.columns = new_names

scheme_metadata, new_names = get_scheme_df(metadata)
metadata.columns = new_names

In [5]:
def bid_DB(genstudio, metadata, scheme_genstudio, scheme_metadata, path='./data/bid_DB.db'):
    
    connection = sqlite3.connect(path)

    connection.execute('''CREATE TABLE IF NOT EXISTS SNP_data (
    Sample_ID TEXT, 
    SNP_Name TEXT, 
    SNP TEXT, 
    Position TEXT, 
    Chr TEXT,
    sex TEXT)''')

    connection.execute(f'''CREATE TABLE IF NOT EXISTS metadata ({scheme_metadata},
                        FOREIGN KEY (sex) REFERENCES SNP_data (sex))''')

    connection.execute(f'''CREATE TABLE IF NOT EXISTS genstudio ({scheme_genstudio},
    FOREIGN KEY (Sample_ID) REFERENCES metadata (dna_chip_id),
    FOREIGN KEY (Sample_ID) REFERENCES metadata (Sample_ID),
    FOREIGN KEY (SNP_Name) REFERENCES metadata (SNP_Name),
    FOREIGN KEY (SNP) REFERENCES metadata (SNP),
    FOREIGN KEY (Position) REFERENCES metadata (Position),
    FOREIGN KEY (Chr) REFERENCES metadata (Chr))''')

    connection.commit()

    genstudio.to_sql('genstudio', connection, if_exists='append', index=False)
    metadata.to_sql('metadata', connection, if_exists='append', index=False)

    connection.close()

In [6]:
path='./data/bid_DB.db'
bid_DB(genstudio, metadata, scheme_genstudio, scheme_metadata, path)

# Selection

In [7]:
connection = sqlite3.connect('./data/bid_DB.db')

query = '''SELECT Sample_ID, SNP, Chr
           FROM genstudio
           WHERE SNP = '[A/G]'
'''

res = connection.execute(query)

print(len(res.fetchall()))

connection.close()

855870

## Add selection to DB

In [8]:
connection = sqlite3.connect('./data/bid_DB.db')

query = '''INSERT INTO SNP_data (Sample_ID, SNP_Name, SNP, Position, Chr, sex)
SELECT genstudio.Sample_ID, genstudio.SNP_Name, genstudio.SNP, genstudio.Position, genstudio.Chr, 
metadata.sex 
FROM genstudio, metadata 
WHERE metadata.dna_chip_id = genstudio.Sample_ID'''

connection.execute(query)
connection.commit()
connection.close()

# Create and add from web

In [2]:
def get_genes():
    
    GENE_URL = 'https://genomics.senescence.info/genes/allgenes.php'
    
    resp = requests.get(GENE_URL)
    soup = BeautifulSoup(resp.content, 'lxml')
    
    genes_list = []
    
    table = soup.find("table", {"class":"results-table"} )
    rows = table.find_all('tr')

    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        
        if cols:    
            genes_list.append(cols[0])
    
    return genes_list


def snp_search(gene_name):
    '''
    Search first 20 SNP in ncbi snp database. Return soup object.
    '''
    SNP_URL = 'https://www.ncbi.nlm.nih.gov/snp/'
    query_str = {'term': gene_name + '[Gene Name]'}
    
    resp = requests.get(SNP_URL, params=query_str)
    soup = BeautifulSoup(resp.content, 'lxml')
    
    return soup


def parse_soup(soup):
    '''
    Extract SNP ID from soup.
    Return list with rs-id.
    '''
    rs_id = []
    
    for result in soup.find_all('div', {'class': 'rprt'}):
        rs_id.append(result.find('div', {'class': 'supp'}).find('a').text)
        
    return rs_id


def get_id_list(genes_list):
    '''
    Search first 20 SNP in ncbi snp database and extract SNP ID from soup.
    Wait 5 seconds between get requests.
    Return lists with SNP ID`s for all genes.
    '''
    id_list = []
    
    for gene_name in genes_list:
        time.sleep(10)
        
        soup = snp_search(str(gene_name))
        rs_id = parse_soup(soup)

        if rs_id:
            id_list.append(rs_id)
            
    return id_list

In [76]:
def add_to_sql(snp_name, position, chromosome, alleles, db_build, assembly_build,
               clin_sig, n_publications):
    '''
    Open connection to SNP_human DB, add some info to it and close connection.
    Return nothing.
    '''
    connection = sqlite3.connect('./data/SNP_human.db')
    
    query_1 = '''INSERT INTO SNP_data (SNP_Name, Alleles, Position, Chr, dbSNP_Build, Assembly_Build)
                                       VALUES (?, ?, ?, ?, ?, ?)'''
    
    connection.execute(query_1, [snp_name, alleles, position, chromosome, db_build, assembly_build])
    
    query_2 = '''INSERT INTO clin_SNP (SNP_Name, Clinical_Significance, N_Publications)
                                       VALUES (?, ?, ?)'''
    
    connection.execute(query_2, [snp_name, clin_sig, n_publications]) 
    
    connection.commit()
    connection.close()

    
def get_snp_soup(req_url):
    '''
    Get info about SNP from URL.
    Wait 7 seconds between get requests.
    '''
    time.sleep(7)
    
    with requests.Session() as s:
        resp = s.get(req_url, params={'horizontal_tab': 'true'})
        soup = BeautifulSoup(resp.content, 'lxml')
        
    return soup
    

def get_snp_info(red_id_list):
    '''
    Get info about SNP from soup object and add it to the SQL DB.
    Return 'DONE' when done.
    '''
    for snp_name in red_id_list:
        
        req_url = f'https://www.ncbi.nlm.nih.gov/snp/{snp_name}'
        soup =  get_snp_soup(req_url)
    
        db_build = soup.find('div', {'class': 'accession usa-width-one-third'}).text.split()[2]
        
        snp_info = soup.find_all('dl', {'class': 'usa-width-one-half'})
        dd_info = snp_info[0].find_all('dd')
        build_chr_pos = dd_info[1].find_all('span') 

        assembly_build = build_chr_pos[1].text.strip()
        position = build_chr_pos[0].text.split(':')[1]
        chromosome = build_chr_pos[0].text.split(':')[0]

        alleles = ''.join(dd_info[2].text.split())
    
        clin_sig = snp_info[1].find('dd').text.strip()
        
        publ_info = snp_info[1].find('a', {'id': 'snp_pub_count'})
        
        if publ_info:
            n_publications = publ_info.text.split()[0]
        else:
            n_publications=0
        
        add_to_sql(snp_name,
                   position,
                   chromosome,
                   alleles,
                   db_build,
                   assembly_build,
                   clin_sig,
                   n_publications)

    return 'DONE'


def create_SNP_db():
    '''
    Create DB with two tables with info about human genes SNP.
    Gets information about the name of human genes from the "genomics.senescence.info" site.
    When searching for SNPs for each gene in SNP NCBI, returns no more than 20 SNPs.
    Write found SNPs to the SNP_ids.txt file.
    Search info about each SNP in SNP NCBI.
    Add info about found SNPs to SNP_human.db.
    Return DONE when done.
    
    '''
    
    connection = sqlite3.connect('./data/SNP_human.db')

    connection.execute('''CREATE TABLE IF NOT EXISTS SNP_data ( 
                           SNP_Name TEXT PRIMARY KEY, 
                           Alleles TEXT, 
                           Position TEXT, 
                           Chr TEXT,
                           dbSNP_Build TEXT,
                           Assembly_Build TEXT)''')

    connection.execute('''CREATE TABLE IF NOT EXISTS clin_SNP (
                           SNP_Name TEXT,
                           Clinical_Significance TEXT,
                           N_Publications TEXT,
                           FOREIGN KEY (SNP_Name) REFERENCES SNP_data (SNP_Name))''')

    connection.commit()
    connection.close()

    #Done in file
    '''
    genes_list = get_genes()

    id_list = get_id_list(genes_list)
    red_id_list = list(set([j for sub in id_list for j in sub]))

    with open('./data/SNP_ids.txt', 'w') as output_file:
        for rsid in red_id_list:
            output_file.write(rsid + '\n')
    '''

    with open('./data/SNP_ids.txt') as f:
        red_id_list = f.read().splitlines()

    return get_snp_info(red_id_list[2640:])

In [ ]:
create_SNP_db()

# SNP DB select

In [5]:
connection = sqlite3.connect('./data/SNP_human.db')

query = '''SELECT SNP_data.SNP_Name, SNP_data.Chr, SNP_data.Position, SNP_data.Alleles
           FROM SNP_data
           LEFT JOIN clin_SNP ON SNP_data.SNP_Name = clin_SNP.SNP_Name
           WHERE clin_SNP.Clinical_Significance = 'Reported in ClinVar' AND clin_SNP.N_Publications != '0'
'''

res = connection.execute(query)

result = res.fetchall()
connection.close()

In [6]:
result

[('rs2227931', 'chr3', '142503442 ', 'A>C/A>G'),
 ('rs1042522', 'chr17', '7676154 ', 'G>A/G>C/G>T'),
 ('rs2072454', 'chr7', '55146655 ', 'C>T'),
 ('rs751281707', 'chr4', '3074924-3074925 ', 'delGC'),
 ('rs137852507', 'chrX', '71110603 ', 'T>A/T>G'),
 ('rs587777342', 'chr16', '681520 ', 'G>A/G>T'),
 ('rs35677492', 'chr11', '34471409 ', 'G>A'),
 ('rs2233783', 'chr5', '177994296 ', 'C>A/C>G/C>T'),
 ('rs1532625', 'chr16', '56971389 ', 'C>T'),
 ('rs121918118', 'chr7', '30971183 ', 'T>A'),
 ('rs398122840', 'chr19', '48955714-48955721 ', 'del(G)7/delG/dupG'),
 ('rs2228440', 'chr5', '150117665 ', 'G>A'),
 ('rs2075606', 'chr19', '1220322 ', 'T>A/T>C'),
 ('rs1075865', 'chr3', '53189911 ', 'C>A/C>G/C>T'),
 ('rs727502948', 'chr16', '30899403 ', 'C>G'),
 ('rs80356668', 'chr11', '2160829 ', 'A>C/A>G'),
 ('rs4244610', 'chr8', '144512131 ', 'G>A'),
 ('rs3176750', 'chr9', '97675507 ', 'G>C'),
 ('rs34208922', 'chr7', '74069201-74069202 ', 'insA'),
 ('rs743581', 'chr15', '74035800 ', 'G>A/G>T'),
 ('rs28933100', 'chr14', '35404550 ', 'C>A/C>T'),
 ('rs3218620', 'chr10', '89010616 ', 'C>A/C>T'),
 ('rs799923', 'chr17', '43099914 ', 'G>A/G>C/G>T'),
 ('rs1057519850', 'chr8', '127738447 ', 'C>T'),
 ('rs1800863', 'chr10', '43120185 ', 'C>A/C>G'),
 ('rs5183', 'chr3', '148742097 ', 'A>G/A>T'),
 ('rs13181', 'chr19', '45351661 ', 'T>A/T>G'),
 ('rs669', 'chr12', '9079672 ', 'T>C'),
 ('rs28357980', 'chrMT', '4917 ', 'A>G'),
 ('rs1047769', 'chr13', '102861594 ', 'A>G'),
 ('rs2230494', 'chr3', '53186199 ', 'G>A/G>C'),
 ('rs104894611', 'chr17', '56594327 ', 'C>G/C>T'),
 ('rs2228230', 'chr4', '54285873 ', 'C>A/C>T'),
 ('rs1800144', 'chr3', '37004469 ', 'A>G'),
 ('rs121909243', 'chr3', '12416923 ', 'A>T'),
 ('rs3730089', 'chr5', '68292320 ', 'G>A/G>C'),
 ('rs9282699', 'chr17', '63918823 ', 'T>C'),
 ('rs9856772', 'chr3', '142503114 ', 'A>C/A>G/A>T'),
 ('rs104894609', 'chr17', '56594788 ', 'G>T'),
 ('rs799917', 'chr17', '43092919 ', 'G>A/G>C/G>T'),
 ('rs11542029', 'chr19', '44907864 ', 'C>A/C>G/C>T'),
 ('rs1800392', 'chr8', '31116441 ', 'G>C/G>T'),
 ('rs13494', 'chr8', '27598613 ', 'G>A/G>C'),
 ('rs2075254', 'chr2', '169243389 ', 'G>A'),
 ('rs8326', 'chr7', '74069359 ', 'G>A/G>C/G>T'),
 ('rs13380241', 'chr15', '40209792 ', 'T>A/T>G'),
 ('rs170548', 'chr11', '108364109 ', 'A>C/A>T'),
 ('rs2304223', 'chr19', '39500597 ', 'C>A/C>G'),
 ('rs700179', 'chr5', '35879493 ', 'A>C/A>G/A>T'),
 ('rs17289589', 'chr7', '55143357 ', 'G>A/G>T'),
 ('rs1057520144', 'chr4', '102885336 ', 'T>C'),
 ('rs2229765', 'chr15', '98934996 ', 'G>A/G>T'),
 ('rs193920781', 'chr14', '61727582 ', 'G>A'),
 ('rs10972300', 'chr9', '35068204 ', 'C>T'),
 ('rs28933370', 'chr17', '39725125 ', 'A>G'),
 ('rs41294870', 'chr11', '534332 ', 'G>A'),
 ('rs1800069', 'chr16', '13947713 ', 'T>C'),
 ('rs1805094', 'chr1', '65610269 ', 'G>C/G>T'),
 ('rs1815009', 'chr15', '98961442 ', 'C>T'),
 ('rs137852565', 'chrX', '67721905 ', 'G>A/G>C'),
 ('rs664677', 'chr11', '108272455 ', 'C>A/C>T'),
 ('rs206079', 'chr13', '32346481 ', 'G>A'),
 ('rs429358', 'chr19', '44908684 ', 'T>C'),
 ('rs200537612', 'chrX', '154379751 ', 'C>G/C>T'),
 ('rs758130', 'chr15', '89330566 ', 'A>G/A>T'),
 ('rs63750363', 'chr21', '25897642 ', 'C>G'),
 ('rs1800858', 'chr10', '43100520 ', 'A>C/A>G'),
 ('rs1794287', 'chr17', '7675519 ', 'A>C/A>G/A>T'),
 ('rs1053023', 'chr17', '42313598 ', 'T>A/T>C'),
 ('rs28937882', 'chr12', '4370564 ', 'G>A/G>T'),
 ('rs6218', 'chr12', '102399855 ', 'A>G'),
 ('rs28384988', 'chr15', '90749678 ', 'A>G'),
 ('rs28357984', 'chrMT', '5178 ', 'C>A/C>T'),
 ('rs111033620', 'chrX', '71110617 ', 'C>T'),
 ('rs121908925', 'chr9', '136674753 ', 'T>A'),
 ('rs104894231', 'chr11', '533467 ', 'C>G/C>T'),
 ('rs121434592', 'chr14', '104780214 ', 'C>T'),
 ('rs2721190', 'chr8', '144517130 ', 'A>G/A>T'),
 ('rs28384991', 'chr15', '90751880 ', 'C>T'),
 ('rs17028', 'chr10', '43128364 ', 'C>T'),
 ('rs1494558', 'chr5', '35860966 ', 'T>A/T>C'),
 ('rs17110944', 'chr5', '150135834 ', 'T>A'),
 ('rs28937578', 'chr22', '41178373 ', 'C>A/C>T'),
 ('rs34901743', 'chr5', '141621523 ', 'T>A/T>C'),
 ('rs10445337', 'chr17', '45990034 ', 'T>C'),
 ('rs2228078', 'chr7', '30979237 ', 'T>C/T>G'),
 ('rs2276792', 'chr3', '189864460 ', 'G>A'),
 ('rs1800197', 'chr5', '177992966 ', 'C>T'),
 ('rs137852970', 'chr11', '62694594 ', 'G>A'),
 ('rs587777341', 'chr16', '681468 ', 'A>T'),
 ('rs2294976', 'chr22', '41168704 ', 'C>A/C>G'),
 ('rs121917839', 'chr5', '177993032 ', 'G>A'),
 ('rs6172', 'chr17', '63918814 ', 'T>G'),
 ('rs63750064', 'chr21', '25897605 ', 'C>G/C>T'),
 ('rs41316003', 'chr9', '5126343 ', 'G>A/G>C'),
 ('rs12446127', 'chr16', '81921184 ', 'C>A/C>G/C>T'),
 ('rs11377009', 'chr15', '90803400-90803401 ', 'insA'),
 ('rs11630664', 'chr15', '40208785 ', 'C>G/C>T'),
 ('rs121908133', 'chr9', '32984799 ', 'T>C'),
 ('rs1800682', 'chr10', '88990206 ', 'A>C/A>G'),
 ('rs104894093', 'chr9', '136677537 ', 'G>A/G>C/G>T'),
 ('rs61731405', 'chr16', '3729611 ', 'G>A/G>C'),
 ('rs12721276', 'chr3', '148742576 ', 'C>A'),
 ('rs3690', 'chr4', '54295646 ', 'A>C/A>G/A>T'),
 ('rs769967246', 'chr19', '1105456 ', 'C>A/C>T'),
 ('rs3087409', 'chr8', '31088887 ', 'C>A/C>T'),
 ('rs869312659', 'chr5', '138559896-138559903 ', 'delTTAATA'),
 ('rs376163559', 'chr2', '177234024 ', 'C>A'),
 ('rs1799759', 'chr12', '9093581-9093586 ', 'delATGGT'),
 ('rs2472737', 'chr10', '43120057 ', 'G>A'),
 ('rs387906617', 'chr2', '207567506 ', 'A>G'),
 ('rs11704815', 'chr22', '41157261 ', 'C>G/C>T'),
 ('rs3025694', 'chr16', '3770666 ', 'C>T'),
 ('rs4902359', 'chr14', '65076072 ', 'G>A/G>T'),
 ('rs1057519851', 'chr8', '127738995 ', 'C>G'),
 ('rs2230111', 'chr22', '41125999 ', 'A>G/A>T'),
 ('rs5188', 'chr3', '148742432 ', 'G>A'),
 ('rs11272867', 'chr9', '35061697-35061710 ', 'dupGTACACAAACA'),
 ('rs16989673', 'chr20', '50582819 ', 'dupG'),
 ('rs16941', 'chr17', '43092418 ', 'T>A/T>C/T>G'),
 ('rs3815003', 'chr15', '90769593 ', 'T>C/T>G'),
 ('rs7705526', 'chr5', '1285859 ', 'C>A/C>G/C>T'),
 ('rs61752137', 'chr12', '7208554 ', 'C>T'),
 ('rs3020646', 'chr13', '48476876 ', 'C>A/C>G/C>T'),
 ('rs2307434', 'chr15', '89326743 ', 'delG'),
 ('rs137852604', 'chr10', '110228276 ', 'C>T'),
 ('rs8069115', 'chr17', '42317162 ', 'G>A'),
 ('rs4253004', 'chr10', '49539034 ', 'G>A/G>C/G>T'),
 ('rs2229707', 'chr11', '74006202 ', 'C>T'),
 ('rs11178', 'chr7', '101137803 ', 'T>C'),
 ('rs3021088', 'chrMT', '5460 ', 'G>A'),
 ('rs1802286', 'chr15', '40218461 ', 'C>T'),
 ('rs1183739', 'chr2', '74529421 ', 'G>C'),
 ('rs34928889', 'chr19', '1219275 ', 'G>A'),
 ('rs587778556', 'chr2', '177231705 ', 'G>A'),
 ('rs7585486', 'chr2', '197494303 ', 'G>C/G>T'),
 ('rs17290699', 'chr7', '55201204 ', 'A>C/A>G'),
 ('rs2228088', 'chr6', '31575828 ', 'G>A/G>C/G>T'),
 ('rs104894613', 'chr17', '56594609 ', 'T>A'),
 ('rs34094720', 'chr5', '1293652 ', 'G>A/G>T'),
 ('rs104894674', 'chr19', '39507099 ', 'G>A'),
 ('rs4135386', 'chr3', '41239316 ', 'C>T'),
 ('rs104894100', 'chr9', '136673906 ', 'A>G'),
 ('rs659366', 'chr11', '73983709 ', 'C>T'),
 ('rs831042', 'chr2', '169242963 ', 'T>A/T>C'),
 ('rs2230461', 'chr3', '179209622 ', 'A>G'),
 ('rs7340122', 'chrMT', '5951 ', 'A>G'),
 ('rs15869', 'chr13', '32398875 ', 'A>C'),
 ('rs1063192', 'chr9', '22003368 ', 'G>A/G>T'),
 ('rs2962', 'chr19', '7163054 ', 'G>A/G>T'),
 ('rs2737335', 'chr8', '31141607 ', 'G>A/G>T'),
 ('rs3856806', 'chr3', '12434058 ', 'C>T'),
 ('rs34140758', 'chr10', '87967037 ', 'C>A/C>G'),
 ('rs121918398', 'chr19', '44909171 ', 'G>A/G>T'),
 ('rs1049967', 'chr19', '33301661 ', 'C>A'),
 ('rs35215598', 'chr1', '161314435-161314437 ', 'dupTG'),
 ('rs1135320', 'chr5', '177995907 ', 'A>G/A>T'),
 ('rs121918382', 'chr11', '116832816 ', 'A>G'),
 ('rs1060505028', 'chr4', '3229927 ', 'T>A'),
 ('rs368490891', 'chr15', '43404529 ', 'C>A'),
 ('rs56343250', 'chr3', '148742155 ', 'A>T'),
 ('rs104893757', 'chr3', '87276392 ', 'G>A'),
 ('rs4600063', 'chr1', '161363401 ', 'A>G/A>T'),
 ('rs114782902', 'chr9', '136677094 ', 'T>C'),
 ('rs66468541', 'chr2', '197497275 ', 'C>T'),
 ('rs34852121', 'chr7', '74063653 ', 'G>A'),
 ('rs2256550', 'chr10', '43116417 ', 'T>C'),
 ('rs77064436', 'chr3', '41224577 ', 'T>C/T>G'),
 ('rs9340773', 'chr6', '151808141 ', 'G>A/G>C'),
 ('rs1050813', 'chr7', '101138334 ', 'G>A/G>T'),
 ('rs20554', 'chr22', '41157255 ', 'G>A/G>C'),
 ('rs3087425', 'chr8', '31120294 ', 'C>T'),
 ('rs149400522', 'chr17', '60600870 ', 'C>T'),
 ('rs111033618', 'chrX', '71109321 ', 'G>A'),
 ('rs61741003', 'chr9', '130854112 ', 'G>A'),
 ('rs2059806', 'chr19', '7166365 ', 'C>G/C>T'),
 ('rs2435352', 'chr10', '43105241 ', 'A>G'),
 ('rs2227930', 'chr3', '142558733 ', 'A>C/A>T'),
 ('rs2229307', 'chr4', '54263911 ', 'T>C'),
 ('rs6183', 'chr5', '42718990 ', 'C>A'),
 ('rs7339', 'chr1', '156139185 ', 'G>A/G>C'),
 ('rs121912436', 'chr21', '31667274 ', 'G>A/G>C'),
 ('rs1050955', 'chr7', '101139179 ', 'G>A'),
 ('rs863223356', 'chr11', '65661693 ', 'A>G'),
 ('rs143374902', 'chr9', '97687154 ', 'A>G'),
 ('rs2811708', 'chr9', '21973423 ', 'G>A/G>T'),
 ('rs121434562', 'chr20', '41101297 ', 'G>A'),
 ('rs397515631', 'chr22', '39231645 ', 'G>A'),
 ('rs2069860', 'chr7', '22731419 ', 'A>T'),
 ('rs11761556', 'chr7', '128257016 ', 'C>A/C>G'),
 ('rs2228525', 'chr10', '49472913 ', 'G>A'),
 ('rs34005929', 'chr14', '61740835 ', 'G>A'),
 ('rs1800860', 'chr10', '43111239 ', 'A>G/A>T'),
 ('rs104893956', 'chr6', '151842613 ', 'C>T'),
 ('rs3916876', 'chr19', '45353263 ', 'G>A')]

In [7]:
connection = sqlite3.connect('./data/SNP_human.db')

query = '''SELECT Chr, COUNT(SNP_Name)
           FROM SNP_data
           GROUP BY Chr
           HAVING COUNT(SNP_Name) BETWEEN 20 AND 50
'''

res = connection.execute(query)

result = res.fetchall()
connection.close()

In [8]:
result

[('chr1', 48),
 ('chr10', 39),
 ('chr11', 47),
 ('chr12', 48),
 ('chr13', 29),
 ('chr15', 28),
 ('chr16', 33),
 ('chr2', 33),
 ('chr20', 26),
 ('chr22', 28),
 ('chr4', 44),
 ('chr5', 50),
 ('chr6', 45),
 ('chr7', 31),
 ('chr9', 29)]

In [24]:
connection = sqlite3.connect('./data/SNP_human.db')

query = '''BEGIN TRANSACTION;

           DELETE FROM SNP_data
           WHERE SNP_data.SNP_Name in (
           SELECT SNP_Name FROM clin_SNP WHERE clin_SNP.Clinical_Significance = "Not Reported in ClinVar");
           
           DELETE FROM clin_SNP
           WHERE clin_SNP.Clinical_Significance = "Not Reported in ClinVar";
           
           COMMIT'''

connection.executescript(query)
connection.close()

In [20]:
connection = sqlite3.connect('./data/SNP_human.db')

query = '''SELECT Chr, COUNT(SNP_Name)
           FROM SNP_data
           GROUP BY Chr
           HAVING COUNT(SNP_Name) BETWEEN 20 AND 50
'''

res = connection.execute(query)

result = res.fetchall()
connection.close()

In [21]:
result

[('chr1', 28),
 ('chr10', 29),
 ('chr11', 36),
 ('chr12', 36),
 ('chr15', 28),
 ('chr17', 36),
 ('chr19', 38),
 ('chr2', 21),
 ('chr3', 41),
 ('chr4', 23),
 ('chr5', 35),
 ('chr7', 25),
 ('chr8', 31),
 ('chr9', 24)]